    /*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDIT US AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
    /*=====================================
   GENERAL STYLE SECTION
    ===================================*/
    
    @import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&family=Amita:wght@400;700&family=Asar&family=Gotu&family=Halant:wght@400;600&family=IBM+Plex+Sans+Devanagari:wght@300;400;600&family=Kurale&family=Noto+Sans+Devanagari:wght@400;700&family=Ranga:wght@400;700&family=Rhodium+Libre&display=swap');
    body {
        /* font-family: 'Open Sans', sans-serif; */
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        padding: 0;
    }
    
    .pad-low {
        padding-top: 40px;
    }
    
    text-center {
        text-align: center;
    }
    
    h1,
    h2,
    h3.h4 {
        /* font-family: 'Nova Flat'; */
    }
    
    h3 {
        color: orangered;
    }
    
    h2:after {
        content: '';
        display: block;
        width: 120px;
        height: 2px;
        background: orangered;
        margin: auto;
        text-align: center;
        margin-top: 15px;
    }
    
    .pad-set {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    /*=====================================
   COLOR CODES
    ===================================*/
    
    .main-color {
        color: wheat;
    }
    
    .main-color-bk {
        background-color: wheat;
    }
    /*=====================================
   NAV BAR STYLE SECTION
    ===================================*/
    /*Menu Back Color*/
    
    .navbar-default {
        background-color: rgb(255, 255, 255);
        /* background: url(../img/king.jpg); */
        border: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    /*Set margin bottom*/
    
    .navbar {
        margin-bottom: 0px;
    }
    /*Logo Image */
    
    .navbar-brand-logo {
        max-height: 70px;
        padding-bottom: 10px;
    }
    /*top-menu links color*/
    
    .navbar-default .navbar-nav>li>a {
        color: orangered;
        font-size: 20px;
    }
    /*top-menu links color on hover*/
    
    .navbar-default .navbar-nav>li>a:hover {
        color: white;
    }
    /*top-menu links & margin*/
    
    .navbar-nav>li>a {
        border-right: 1px solid orangered;
        margin: 5px 0px 5px 0px;
        color: orangered!important;
        font-weight: 800;
        letter-spacing: 1px;
    }
    
    .navbar-nav>li:hover {
        background-color: rgba(255, 1, 1, 0.084);
        box-shadow: 2px 2px #ffffff8c;
    }
    /*Font-awesome-icon*/
    /* .nav li>a>i {
    color: #fff;
    padding-left: 5px;
} */
    /*dummy small text*/
    
    .nav li>a>span {
        font-size: 12px;
        display: table;
        color: orangered;
    }
    /*=====================================
   HEADER SECTION BAR STYLE 
    ===================================*/
    
    .header-sec-bar {
        background-color: orangered;
        font-size: 22px;
        text-align: center;
        color: #fff;
        padding: 10px;
    }
    
    .header-sec-bar {
        font-family: 'Rhodium Libre', serif;
        font-weight: 700;
    }
    
    .header-sec-bar i {
        margin-right: 5px;
        margin-left: 20px;
    }
    /*=====================================
 MAIN  HEADER SECTION  STYLE 
    ===================================*/
    
    #main-head {
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        height: 100%;
    }
    
    .parichay {
        background-color: rgba(37, 34, 32, 0.76);
        color: #F7F7F7;
        border: 2px solid rgba(0, 0, 0, 0.779);
        padding: 2px;
    }
    
    #main-head input:focus {
        border: 1px solid orangered;
    }
    
    #main-head .form-control {
        height: 40px;
        color: #ff6a00;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid orangered;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    
    #main-head span {
        color: orangered;
        font-size: 30px;
    }
    
    #main-head h5 {
        padding: 10px 2px 10px 2px;
    }
    /*=====================================
 SLIDER SECTION
    ===================================*/
    
    #carousel-slider {
        /* border: 3px double orange; */
    }
    /* navigation icon style*/
    
    .control-icon {
        position: absolute;
        top: 50%;
    }
    /* bootstrap adjustments */
    
    .carousel-control.right {
        right: 0;
        left: auto;
        background-repeat: repeat-x;
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)!important;
    }
    
    .carousel-control.left {
        left: 0;
        right: auto;
        background-repeat: repeat-x;
        background-image: linear-gradient(to left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)!important;
    }
    /* Caption Back Color */
    
    .back-light {
        background-color: rgba(0, 0, 0, 0.60);
        line-height: 30px;
        font-size: 14px;
    }
    
    .carousel-indicators li {
        width: 20px;
        height: 20px;
        border: 2px solid rgba(255, 255, 255, 0.514);
    }
    
    .carousel-indicators .active {
        width: 20px;
        height: 20px;
        background-color: rgba(255, 166, 0, 0.76);
    }
    /*=====================================
 BUTTON CODE STYLE 
    ===================================*/
    
    .btn-style-1 {
        color: #fff;
        background-color: rgba(255, 68, 0, 0.767);
        border-color: orange;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .btn-style-1:hover {
        color: #fff;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .btn-style-4 {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        color: #fff;
        background-color: rgba(255, 68, 0, 0.486);
        border-color: orange;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .btn-style-4:hover {
        color: #fff;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .btn-style-2 {
        color: #fff;
        background-color: rgba(255, 68, 0, 0.532);
        border-color: orange;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .btn-style-2:hover {
        color: #fff;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    /*=====================================
 ABOUT SECTION  STYLE 
    ===================================*/
    
    #about {
        padding-bottom: 100px;
        background-color: #fff;
        padding-top: 30px;
    }
    
    .icon-round {
        margin-top: 30px;
        font-size: 60px;
        height: 128px;
        width: 128px;
        line-height: 130px;
        margin-right: 10px;
        text-align: center;
        display: inline-block;
        border-radius: 100%;
        margin-bottom: 10px;
        background-color: orangered;
        color: #fff;
    }
    
    .icon-round:hover {
        background-color: rgba(255, 166, 0, 0.646);
        cursor: pointer;
    }
    /*=====================================
 BUDGET SECTION  STYLE 
    ===================================*/
    
    #budget {
        background-color: orangered;
        color: #fff;
        padding: 20px;
        /* margin: 15px 0; */
        /* margin-bottom: 3px; */
        border-bottom: 2px solid rgb(0, 0, 0);
    }
    /*=====================================
 VEDIO SECTION  STYLE 
    ===================================*/
    
    #vedio-sec {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    .vedio-style {
        border: 0px;
        width: 100%;
        min-height: 20vh;
        max-width: 20vw;
        /* margin-top: 10px; */
    }
    
    .vid-card {
        /* background-color: #ff4500; */
    }
    
    .vid-text {
        min-height: 50vh;
    }
    /*=====================================
  REVIEW STYLES 
    ===================================*/
    
    .reviews-section {
        background: orangered;
        text-align: center;
        font-family: 'Noto Sans Devanagari', sans-serif;
        font-size: 17px;
    }
    
    .reviews-section h2 {
        padding-top: 30px;
        color: #fff;
    }
    
    .slide-custom {
        min-height: 200px;
        padding: 20px;
        line-height: 30px;
    }
    
    .reviews-section h4 i {
        padding: 5px;
    }
    
    .reviews-section h4 {
        color: #fff;
    }
    /*=====================================
  EVENTS STYLES 
    ===================================*/
    
    #recent-events {
        padding-bottom: 20px;
        padding-top: 20px;
        /* padding-top: 30px; */
        /* background-color: #F7F7F7; */
        font-family: 'Noto Sans Devanagari', sans-serif;
        font-size: 18px;
    }
    
    #recent-events i {
        margin-right: 5px;
        color: orangered;
    }
    
    #recent-events .col-xs-12.col-sm-4.col-md-3 {
        padding: 0;
    }
    
    .recent-events-wrap {
        position: relative;
        cursor: pointer;
    }
    
    #recent-events a:hover {
        text-decoration: none;
    }
    
    .recent-events-wrap img {
        width: 100%;
    }
    
    .recent-events-wrap .recent-events-inner {
        top: 0;
        background: transparent;
        opacity: .8;
        width: 100%;
        border-radius: 0;
        margin-bottom: 0;
    }
    
    .recent-events-wrap .recent-events-inner h3 {
        margin: 10px 0;
    }
    
    .recent-events-wrap .recent-events-inner h3 a {
        font-size: 24px;
        color: #fff;
    }
    
    .recent-events-wrap .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 0;
        background-color: orangered;
        color: #fff;
        vertical-align: middle;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        padding: 30px;
    }
    
    .recent-events-wrap .overlay .preview {
        bottom: 0;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        border-radius: 0;
        background: transparent;
        text-align: center;
        color: #fff;
    }
    
    .recent-events-wrap:hover .overlay {
        opacity: 1;
    }
    /*=====================================
   IMPACT STYLE 
    ===================================*/
    
    #impact {
        padding-bottom: 20px;
        padding-top: 30px;
    }
    
    #impact h4 {
        color: #000;
    }
    
    .knob-sec {
        text-align: center;
    }
    /*=====================================
   CONTACT STYLE 
    ===================================*/
    
    #contact {
        padding-bottom: 20px;
        padding-top: 30px;
        background-color: rgb(240, 240, 240);
    }
    /*=====================================
  FOOTER STYLES 
    ===================================*/
    
    #footer-sec {
        background-color: orangered;
        color: #fff;
        /* padding: 20px; */
        text-align: center;
        font-family: 'Noto Sans Devanagari', sans-serif;
        font-size: 16px;
    }
    
    #footer-sec i {
        /* margin-right: 10px; */
    }
    
    #footer-sec span {
        font-size: 20px;
        color: orangered;
    }
    
    #footer-sec small {
        /* display: table-cell; */
        color: #000;
        font-size: 12px;
    }
    
    #footer-sec {
        border-right: 1px solid orangered;
        /* padding-right: 10px; */
    }
    
    #footer-sec .media-heading {
        color: #fff;
        font-size: 14px;
    }
    
    #blog-footer-div {
        border-right: 1px solid orangered;
        padding-right: 10px;
    }
    
    #footser-end {
        background-color: orangered;
        color: #fff;
        /* padding: 10px; */
        font-family: 'Rhodium Libre', serif;
    }
    /*=====================================
  SCROLL UP STYLES 
    ===================================*/
    
    a.scrollup {
        background: #ff4500;
        height: 32px;
        width: 32px;
        color: #fff;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 9999;
        opacity: 0.8;
    }
    
    a.scrollupWA {
        background: #ffffff;
        height: 52px;
        width: 52px;
        color: #fff;
        font-size: 33px;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
        position: fixed;
        bottom: 50px;
        right: 10px;
        z-index: 9999;
        opacity: 0.95;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
    }

    a.scrollupFB {
        /* background: #ffffff; */
        height: 52px;
        width: 52px;
        color: #fff;
        font-size: 33px;
        line-height: 32px;
        text-align: center;
        text-decoration: none;
        position: fixed;
        bottom: 120px;
        right: 10px;
        z-index: 9999;
        opacity: 0.95;
        /* border: 1px solid rgb(255, 255, 255); */
        /* border-radius: 5px; */
    }
    /*=====================================
  PRELOADER STYLES 
    ===================================*/
    
    #pre-div {
        background-color: #fff;
        bottom: 0;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
    }
    
    #loader {
        background-image: url("../img/loader2.gif");
        background-position: center center;
        background-repeat: no-repeat;
        height: 150px;
        left: 50%;
        margin: -100px 0 0 -100px;
        position: absolute;
        top: 50%;
        width: 150px;
    }
    /* Custom Scroll Bar Start */
    /* width */
    
     ::-webkit-scrollbar {
        width: 15px;
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        /* border-radius: 5px; */
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        background: orange;
        /* border-radius: 5px; */
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 68, 0, 0.861);
    }
    /* Custom Scroll Bar Ends */
    
    .card-img-top {
        max-height: 300px;
    }
    
    .marginlagade {
        margin: 7px;
        width: auto;
    }
    
    .mb-4 {
        margin-bottom: 15px;
    }
    
    .event-bhagwa>* {
        /* background-color: orange; */
        background-color: rgba(37, 34, 32, 0.76);
        color: #F7F7F7;
        box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.71);
        text-align: center;
    }
    
    .event-bhagwa img {
        max-width: 500px;
        margin: 15px;
        margin-right: 0px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 8px;
    }
    
    .parent {
        min-height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #fff;
    }
    
    .child {
        /* width: 40%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px; */
        padding: 10px;
        position: inherit;
        box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.966);
        min-height: 40vh;
        background-color: rgba(0, 0, 0, 0.619);
    }
    
    .swastik-bg {
        background-image: url(../img/bgswastik-pattern.jpg) !important;
        background-repeat: repeat !important;
    }
    
    .wani {
        /* text-align: center; */
        /* flex-flow: row wrap; */
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'Noto Sans Devanagari', sans-serif;
        font-size: 17px;
        /* flex-direction: row; */
    }
    /*     
    div:nth-child(6n) {
        flex-grow: 1;
        min-width: 33%;
    }
     */
    
    .bol {
        width: 350px;
        margin: 15px 5px;
        padding: 5px;
        font-size: larger;
        background-color: rgba(24, 19, 13, 0.5);
    }
    
    .bol p {
        color: #F7F7F7;
        /* margin: 0; */
    }
    
    .parichay-text {
        font-size: 16px;
        font-family: 'Noto Sans Devanagari', sans-serif;
        text-align: left;
    }
    
    @media only screen and (max-width: 498px) {
        .event-bhagwa img {
            max-width: 300px;
            margin: 10px;
        }
        .wani {
            display: grid;
        }
        .bol {
            margin: 7px 5px;
            width: 340px;
            font-size: large;
        }
    }
    
    @media screen and (max-width: 1200px) and (min-width: 998px) {
        .parichay-text {
            font-size: 14px;
            line-height: 2.2;
        }
    }
    
    @media screen and (max-width: 998px) and (min-width: 499px) {
        .event-bhagwa img {
            max-width: 400px;
            margin: 10px;
        }
        .bol {
            margin: 7px 5px;
            width: 500px;
        }
    }
    
    @media only screen and (max-width: 998px) {
        .parent {
            position: relative;
        }
        .child {
            margin-top: 4px;
            position: relative;
            width: 100%;
        }
    }
    
    @media only screen and (min-width: 998px) {
        .row-parent {
            position: relative;
        }
        .row-child {
            margin: 0;
            margin-left: 55%;
            width: fit-content;
            position: absolute;
            transform: translateX(-20%);
            top: 40%;
            -ms-transform: translateY(-20%);
            transform: translateY(-50%);
        }
    }
    /* custom video player section starts */
    /* .videos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .video {
        width: 270px;
        margin-bottom: 30px;
    }
    
    .thumbnail {
        width: 100%;
        height: 170px;
    }
    
    .thumbnail img {
        object-fit: cover;
        height: 94%;
        width: 100%;
    }
    
    .author img {
        object-fit: cover;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
    
    .details {
        display: flex;
    }
    
    .title {
        display: flex;
        flex-direction: column;
    }
    
    .title h3 {
        color: rgb(3, 3, 3);
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 6px;
    }
    
    .title a,
    span {
        text-decoration: none;
        color: rgb(96, 96, 96);
        font-size: 12px;
    } */
    /* custom video player section ends */
    
    .pustak {
        /* display: flex; */
    }
    
    .pustak img {
        /* max-width: 80vw; */
        max-height: auto;
    }
    
    .main-cont {
        min-width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F7F7F7;
    }
    
    .main-cont img {
        max-width: 40em;
        max-height: 40em;
    }
    
    .main-cont p {
        max-width: 35em;
        padding-right: 15px;
        font-size: 22px;
        line-height: 2;
        font-family: 'Noto Sans Devanagari', sans-serif;
        /* text-align: center; */
    }
    
    @media only screen and (max-width: 499px) {
        .main-cont {
            max-width: 100vw;
            display: block;
            justify-content: center;
            align-items: center;
            /* font-size: 16px; */
        }
        .main-cont img {
            max-width: 100vw;
        }
        .main-cont p {
            max-width: 35em;
            padding: 10px;
            padding-top: 20px;
            font-size: 18px;
            line-height: 1.8;
            /* text-align: center; */
        }
    }
    
    @media only screen and (max-width: 768px) and (min-width: 500px) {
        .main-cont {
            display: flex;
            flex-direction: column;
            /* justify-content: center;
        align-items: center; */
            text-align: center;
        }
        .main-cont img {
            max-width: 80vw;
        }
        .main-cont p {
            max-width: 70vw;
            text-align: center;
        }
        
    }
    
    @media only screen and (max-width: 1200px) and (min-width: 769px) {
        .main-cont img {
            max-width: 70vw;
            max-height: 35em;
        }
        .main-cont p {
            max-width: 25em;
            padding-right: 10px;
            font-size: 19px;
            line-height: 2;
            /* text-align: center; */
        }
    }


    .borderimg2 { 
        border: 10px solid transparent;
        padding: 15px;
        border-image: url(../img/border.png) 30 stretch;
      }

     .borderimgbottom { 
        border-bottom: 10px solid transparent;
        /* padding: 15px; */
        border-image: url(../img/border.png) 30 stretch;
      }

      .how-section1{
        margin-top:-15%;
        padding: 10%;
    }
    .how-section1 h4{
        color: #3931af;
        font-weight: bold;
        font-size: 30px;
    }
    .how-section1 p, .reviews-section p{
        color: #a56600;
        font-weight: normal;
        font-size: larger;
        margin-top: 20px;
    }
    .how-section1 .subheading{
        color: #3931af;
        font-size: 20px;
    }
    .how-section1 .row
    {
        margin-top: 7%;
        border: 10px solid transparent;
        border-image: url(../img/border.png) 30 stretch;
        padding: 6px;
        /* border-radius: 8px; */
    }
    .how-img 
    {
        text-align: center;
    }
    .how-img img{
        width: 100%;
        border-radius: 8px;
    }

    .wani p{
        color: #F7F7F7;
    }

    .site-development a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px rgb(4, 0, 255);
    }


    @media only screen and (min-width: 700px) {
        .video-gallery iframe{
            width: 700px;
            height: 400px;
        }
    }
